.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

code {
  border-radius: 3px;
  padding: 1px 3px;   
  -webkit-hyphens: none;
  hyphens: none; 
} 

pre {
  overflow-x: auto;
  border-radius: 3px;
  color: #d0d0d0;
}

pre code {
  padding: initial;
  background: transparent;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

ul {
  padding: 0 0 0 25px;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.content h1 {
  font-size: 1.8em;
  line-height : 1.8em;
}

.content h2 {
  font-size: 1.5em;
  line-height : 1.5em;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 3px 0;
  text-align: center;
}

table thead tr{
  background-color: #eee
}

table tbody tr{
  border-bottom: 1px solid #eee;
}
